.logo{
    display: flex;
    justify-content: space-between;
    
    
}
.logo-left img{
        border-radius: 60px;
        border:2px solid blue;
        margin-top: 20px;       
        }
.logo .logo-right{
    gap:60px;
    color: #F9FAF8}

.content{
    display: flex;
    justify-content: space-evenly;
}
.content img{
    object-fit: cover;
    height:400px;
    width:500px;
    border-radius: 50px;
    margin-right: 40px;
    margin-top: 40px;
    
}
header{
    background-color: #1F2937;
   
    
    }
header #header-intro{
    font-size: 48px;
    width: 100px;
    height:150px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-left: 90px;
    margin-top: 40px;
}
header P{
    color: #F9FAF8;
    font-size: 18px;
    margin-left: 90px;

}
.logo img{
    width:150px;
    margin-left: 60px;
    margin-top: 10px;
}
.content #signup{
    margin-bottom: 10%;
    margin-left:90px;
}
header .imagerandom{
    
    margin-bottom:40px;
}
#signup{
    background-color: #3882F6;
    border-radius: 10px;
    
}
.section2 h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.section2 p{
    font-size: 18px;
    height:300px;
    width:180px;
    text-align: center;
    
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
#container img{
    width: 250px;
    height:150px;
    border-radius:20px;
    object-fit: fill;
}
.testimonial{
    background-color: #E5E7EB;
   
}
#testimonial{
    height:400px;
    font-size: 18px;
    text-wrap: wrap;
    width:700px;
    padding: 100px;
    text-align: center;
    font-style: italic;
    margin-left: 180px;
    margin-top: 100px;
    
}
.author{ 
    text-align: right;
    margin-top:-200px;
    margin-right: 260px;
    padding-top: -100px;
}

footer{
    background-color: #1F2937;
    text-align: center;
    height:70px;
    color: #E5E7EB;
    padding: 30px;
}
.rectangle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    width: 800px;
    height: 90px;
    margin-bottom: 10px;
    margin-left: 300px;
    border-radius: 3px;
}

body{
    width:100%;
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden;
}
.rectangle button{
    width: 70px;
    height:40px;
    border-radius: 10px;
    background-color: #3882F6;
    border:2px solid #E5E7EB;
    color: #E5E7EB;
    
}
.logo-right a{
    color:#E5E7EB;
    
    
}